footer.footer
    .big-container.bg--fon-2
        .container
            .footer__colums
                .footer__colum.column-1
                    .footer__colum__logo
                        img(src="assets/img/index/logo-footer.png")
                    .footer__colum__info.mb-30
                        .footer__colum__info__img
                        p Компания Альфа-мебель-Москва зарегистрирована на портале поставщиков
                    .footer__colum__info.mb-30
                        .footer__colum__info__title ФЗ №44 И ФЗ №-223
                        p Работа с Государственными компаниями и бюджетными учреждениями.
                    .footer__colum__copyright © 2019, Компания Альфа-мебель-Москва <br>Все права защищены

                .footer__colum.column-2
                    .footer__colum__title каталог
                    ul.footer__colum__items
                        li.footer__colum__item
                            a(href="#ds") Кабинеты
                        li.footer__colum__item
                            a(href="#ds") Зоны коммуникаций
                        li.footer__colum__item
                            a(href="#ds") Приемные зоны
                        li.footer__colum__item
                            a(href="#ds") Зоны работы сотрудников
                        li.footer__colum__item
                            a(href="#ds") Зоны ожидания
                        li.footer__colum__item
                            a(href="#ds") Стулья и кресла
                        li.footer__colum__item
                            a(href="#ds") Офисный свет
                        li.footer__colum__item
                            a(href="#ds") Электрификация
                        li.footer__colum__item
                            a(href="#ds") Аксессуары
                .footer__colum.column-3
                    .footer__colum__title меню
                    ul.footer__colum__items
                        li.footer__colum__item
                            a(href="#ds") Условия доставки
                        li.footer__colum__item
                            a(href="#ds") Способы оплаты
                        li.footer__colum__item
                            a(href="#ds") Акции и скидки
                        li.footer__colum__item
                            a(href="#ds") Статьи
                        li.footer__colum__item
                            a(href="#ds") Новости
                        li.footer__colum__item
                            a(href="#ds") Контакты
                .footer__colum.column-4
                    .footer__colum__title контакты
                    .footer__colum__contacts
                        .footer__colum__contacts__address
                            i.fas.fa-map-marker-alt
                            p 127247, г. Москва, Дмитровское шоссе, д. 100, стр. 2, БЦ «Норд Хаус»
                        .footer__colum__contacts__time
                            i.far.fa-clock
                            p График работы офиса: понедельник – пятница с 10:00 до 19:00
                        .footer__colum__contacts__phone
                            i.fas.fa-phone-alt
                            a(href="#") +7 (495) 565-34-21
                        .footer__colum__contacts__email
                            i.far.fa-envelope
                            a(href="#") zakaz@alfa-mebel.ru
                    .footer__colum__map
                        a(href="#") Карта сайта
                    .footer__colum__socials
                        .footer__colum__socials__item
                            a(href="#vk") <i class="fab fa-vk"></i>
                        .footer__colum__socials__item
                            a(href="#vinstagram") <i class="fab fa-instagram"></i>
                        .footer__colum__socials__item
                            a(href="#facebook") <i class="fab fa-facebook-f"></i>
