header.header
    .container
        .header__row1
            .header__row1__logo
                a(href="/")
                    img(src="assets/img/index/logo.png" alt="logo")
            .header__row1__top-menu
                .header__row1__top-menu__items
                    .header__row1__top-menu__item
                        a(href="#dsad") Условия доставки
                    .header__row1__top-menu__item
                        a(href="#dsad") Способы оплаты
                    .header__row1__top-menu__item
                        a(href="#dsad") Акции и скидки
                    .header__row1__top-menu__item
                        a(href="#dsad") Статьи
                    .header__row1__top-menu__item
                        a(href="#dsad") Новости
                    .header__row1__top-menu__item
                        a(href="#dsad") Контакты
                .header__row1__top-menu__buttons
                    .header__row1__top-menu__buttons__button
                        button.btn.btn-primary.btn-header Обратный звонок
                    .header__row1__top-menu__buttons__time c 10:00 до 19:00
                    .header__row1__top-menu__buttons__number
                        .header__row1__top-menu__buttons__number__icon
                            <i class="fas fa-phone-alt"></i>
                        .header__row1__top-menu__buttons__number__link
                            a(href="tel:+7 495 565 34 21") +7 495 565 34 21

            .header__row1__search-basket-login
                .header__row1__search-basket-login__login
                    .header__row1__search-basket-login__login__icon
                        <i class="fas fa-user"></i>
                    .header__row1__search-basket-login__login__input
                        a(href="#login__input") Вход
                    .header__row1__search-basket-login__login__registration
                        a(href="#login__registration") Регистрация
                .header__row1__search-basket-login__search
                    .header__row1__search-basket-login__search__input
                        the-input(name="search" suffix-icon="el-icon-search")
                .header__row1__search-basket-login__basket
                    a.header__row1__search-basket-login__basket__icon(href="#dsadsa")
                        <i class="fas fa-shopping-cart"></i>
                        span.header__row1__search-basket-login__basket__icon__counter
                            | 7


                include ../include/mobileMenu

        .header__row2
            .header__row2__fluid-menu
                .header__row2__fluid-menu__items
                    .header__row2__fluid-menu__item
                        a(href="#1231") Кабинеты
                        .header__row2__fluid-menu__item__submenu.big-container
                            ul.header__row2__fluid-menu__item__submenu__items.row
                                li.header__row2__fluid-menu__item__submenu__item.col-12.col-sm-4.col-md-3
                                    .header__row2__fluid-menu__item__submenu__item__banner
                                        a(href="#")
                                            img(src="assets/img/index/menu-banner-1.jpg")
                                            .header__row2__fluid-menu__item__submenu__item__banner__title КАБИНЕТЫ ECONOM CLASS
                                    .header__row2__fluid-menu__item__submenu__item__categories.row
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Fermo Wood
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Fermo Metal
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Rotonda
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Terra
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Lord
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Rola
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Lava
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Sirius
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Positano


                                li.header__row2__fluid-menu__item__submenu__item.col-12.col-sm-4.col-md-3
                                    .header__row2__fluid-menu__item__submenu__item__banner
                                        a(href="#")
                                            img(src="assets/img/index/menu-banner-2.jpg")
                                            .header__row2__fluid-menu__item__submenu__item__banner__title КАБИНЕТЫ BUSINESS CLASS
                                    .header__row2__fluid-menu__item__submenu__item__categories.row
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Ekis
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Sigma
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Exe
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Imperial
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Tao
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Ancona
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Dali
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Cannes
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Tender
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Perth
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Napoli


                                li.header__row2__fluid-menu__item__submenu__item.col-12.col-sm-4.col-md-3
                                    .header__row2__fluid-menu__item__submenu__item__banner
                                        a(href="#")
                                            img(src="assets/img/index/menu-banner-3.jpg")
                                            .header__row2__fluid-menu__item__submenu__item__banner__title КАБИНЕТЫ FIRST CLASS
                                    .header__row2__fluid-menu__item__submenu__item__categories.row
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Frame Cotto
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Tao Cotto
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Ego Cotto
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Vogue Cotto
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Conte
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Tempio
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Forte
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Titano
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Ego Ebony
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Ola
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") HaN Zebrano
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Tao Ebony


                                li.header__row2__fluid-menu__item__submenu__item.col-12.col-sm-4.col-md-3
                                    .header__row2__fluid-menu__item__submenu__item__banner
                                        a(href="#")
                                            img(src="assets/img/index/menu-banner-4.jpg")
                                            .header__row2__fluid-menu__item__submenu__item__banner__title КАБИНЕТЫ PREMIUM CLASS
                                    .header__row2__fluid-menu__item__submenu__item__categories.row
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Palladio
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Tiziano
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Quaranta
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Eur
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") President QC
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Kyo Zebrano
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Kyo


                    .header__row2__fluid-menu__item
                        a(href="#1231") Зоны коммуникаций
                        .header__row2__fluid-menu__item__submenu.big-container
                            ul.header__row2__fluid-menu__item__submenu__items.row
                                li.header__row2__fluid-menu__item__submenu__item.col-12.col-sm-4.col-md-3
                                    .header__row2__fluid-menu__item__submenu__item__banner
                                        a(href="#")
                                            img(src="assets/img/index/menu-banner-1.jpg")
                                            .header__row2__fluid-menu__item__submenu__item__banner__title КАБИНЕТЫ ECONOM CLASS
                                    .header__row2__fluid-menu__item__submenu__item__categories.row
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Fermo Wood
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Fermo Metal
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Rotonda
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Terra
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Lord
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Rola
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Lava
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Sirius
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Positano


                                li.header__row2__fluid-menu__item__submenu__item.col-12.col-sm-4.col-md-3
                                    .header__row2__fluid-menu__item__submenu__item__banner
                                        a(href="#")
                                            img(src="assets/img/index/menu-banner-2.jpg")
                                            .header__row2__fluid-menu__item__submenu__item__banner__title КАБИНЕТЫ BUSINESS CLASS
                                    .header__row2__fluid-menu__item__submenu__item__categories.row
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Ekis
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Sigma
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Exe
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Imperial
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Tao
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Ancona
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Dali
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Cannes
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Tender
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Perth
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Napoli


                                li.header__row2__fluid-menu__item__submenu__item.col-12.col-sm-4.col-md-3
                                    .header__row2__fluid-menu__item__submenu__item__banner
                                        a(href="#")
                                            img(src="assets/img/index/menu-banner-3.jpg")
                                            .header__row2__fluid-menu__item__submenu__item__banner__title КАБИНЕТЫ FIRST CLASS
                                    .header__row2__fluid-menu__item__submenu__item__categories.row
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Frame Cotto
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Tao Cotto
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Ego Cotto
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Vogue Cotto
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Conte
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Tempio
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Forte
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Titano
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Ego Ebony
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Ola
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") HaN Zebrano
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Tao Ebony


                                li.header__row2__fluid-menu__item__submenu__item.col-12.col-sm-4.col-md-3
                                    .header__row2__fluid-menu__item__submenu__item__banner
                                        a(href="#")
                                            img(src="assets/img/index/menu-banner-4.jpg")
                                            .header__row2__fluid-menu__item__submenu__item__banner__title КАБИНЕТЫ PREMIUM CLASS
                                    .header__row2__fluid-menu__item__submenu__item__categories.row
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Palladio
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Tiziano
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Quaranta
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Eur
                                        .col-12.col-md-6
                                            ul.header__row2__fluid-menu__item__submenu__item__categories__items
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") President QC
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Kyo Zebrano
                                                li.header__row2__fluid-menu__item__submenu__item__categories__item
                                                    a(href="#") Kyo


                    .header__row2__fluid-menu__item
                        a(href="#1231") Приемные зоны
                    .header__row2__fluid-menu__item
                        a(href="#1231") Зоны работы сотрудников
                    .header__row2__fluid-menu__item
                        a(href="#1231") Зоны ожидания
                    .header__row2__fluid-menu__item
                        a(href="#1231") Стулья и кресла
                    .header__row2__fluid-menu__item
                        a(href="#1231") Офисный свет
                    .header__row2__fluid-menu__item
                        a(href="#1231") Электрификация
                    .header__row2__fluid-menu__item
                        a(href="#1231") Аксессуары

