.header__row1__search-basket-login__mobile-menu
    mobile-menu(:right="true" :disable-outside-click="true" :disable-esc="true")
        ul.header__row1__search-basket-login__mobile-menu__items
            li.header__row1__search-basket-login__mobile-menu__item
                a(href="/").header__row1__search-basket-login__mobile-menu__link Главная
            li.header__row1__search-basket-login__mobile-menu__item
                the-drop-down(title="Категории")
                    ul
                        li
                            a(href="#") Кабинеты
                        li
                            a(href="#") Приемные зоны
                        li
                            a(href="#") Зоны работы сотрудников
                        li
                            a(href="#") Зоны ожидания
                        li
                            a(href="#") Стулья и кресла
                        li
                            a(href="#") Офисный свет
                        li
                            a(href="#") Электрификация
                        li
                            a(href="#") Аксессуары


            li.header__row1__search-basket-login__mobile-menu__item
                a(href="#").header__row1__search-basket-login__mobile-menu__link Условия доставки
            li.header__row1__search-basket-login__mobile-menu__item
                a(href="#").header__row1__search-basket-login__mobile-menu__link Способы оплаты
            li.header__row1__search-basket-login__mobile-menu__item
                a(href="#").header__row1__search-basket-login__mobile-menu__link Акции и скидки
            li.header__row1__search-basket-login__mobile-menu__item
                a(href="#").header__row1__search-basket-login__mobile-menu__link Статьи
            li.header__row1__search-basket-login__mobile-menu__item
                a(href="#").header__row1__search-basket-login__mobile-menu__link Новости
            li.header__row1__search-basket-login__mobile-menu__item
                a(href="#").header__row1__search-basket-login__mobile-menu__link Контакты