section.filter
    .container
        .filter-wrapper
            .filter__title Фильтр:
            .filter__items
                .filter__item
                    the-select(placeholder="Материалы")
                .filter__item
                    the-select(placeholder="Особенности")
                .filter__item
                    the-select(placeholder="Сфера применения")
                .filter__item
                    the-select(placeholder="Пудра")