footer.footer
    .container
        .row
            .col-12.col-md-6
                .footer__left-block
                    .footer__left-block__logo
                        img(src='assets/img/index/logo_footer.png')
                    p.footer__left-block__p
                        | Обращаем ваше внимание на то, что информация
                        | интернет-сайта dp.plus носит исключительно
                        | информационный характер и не является публичной
                        | офертой, определяемой положениями ст. 437 ГК РФ.
                    blockquote.footer__left-block__copyright © 2019 pro-gloves
            .col-12.col-md-6
                .footer__right-block
                    nav.footer__right-block__menu
                        ul.footer__right-block__menu__items
                            li.footer__right-block__menu__item
                                a(v-scroll-to="'#header', '-135px'") Главная
                            li.footer__right-block__menu__item
                                a(v-scroll-to="'#catalog'") Каталог
                            li.footer__right-block__menu__item
                                a(v-scroll-to="'#price'") Прайс
                            li.footer__right-block__menu__item
                                a(v-scroll-to="'#team'") Основные направления
                            li.footer__right-block__menu__item
                                a(v-scroll-to="'#video'") Видео
                    .footer__right-block__contact
                        .footer__right-block__contact__wrapper
                            h5.footer__right-block__contact__title.footer-title-h5 Контакты
                            .footer__right-block__contact__content
                                p
                                    | МО, г.Мытищи, ул. Пионерская, д.1Б
                                p
                                    | <a href="tel:+74953219587">+7(495)321 95 87</a>
                                p
                                    | <a href="mailto:info@pro-gloves.ru">info@pro-gloves.ru</a>
                    .footer__right-block__bottom-wrapper
                        .footer__right-block__socials
                            .footer__right-block__socials__items
                                .footer__right-block__socials__item
                                    a(href="#s1")
                                        i.fab.fa-whatsapp
                                .footer__right-block__socials__item
                                    a(href="#s12")
                                        i.fab.fa-telegram-plane
                                .footer__right-block__socials__item
                                    a(href="#s13")
                                        i.fab.fa-instagram
                                .footer__right-block__socials__item
                                    a(href="#s14")
                                        i.fab.fa-vk
                                .footer__right-block__socials__item
                                    a(href="#s15")
                                        i.fab.fa-youtube
                        .footer__right-block__office
                            h5.footer__right-block__office__title.footer-title-h5 Время работы офиса:
                            .footer__right-block__office__content
                                p пн-пт с 9:00 до 18:00
                                p сб-вс: выходной




