the-modal(btn-name="Заказать")
    .modal-content
        .row
            .col-12.col-md-6
                .modal-content__img
                    lazy-component
                        img(src='assets/img/index/product-4.jpg', alt='p4')
            .col-12.col-md-6
                .modal-content__options
                    .modal-content__options__title Одноразовые перчатки PROLATEX, размер XS
                    .modal-content__options__article
                    .modal-content__options__table
                        table.table-responsive.table
                            thead
                                tr
                                    th  Характеристки
                                    th
                            tbody
                                tr
                                    td Размер перчатки
                                    td XS
                                tr
                                    td Длина
                                    td 240 мм
                                tr
                                    td Вес 1 перчатки
                                    td 5,8 гр
                                tr
                                    td Упаковка
                                    td 100 шт
                                tr
                                    td Универсальные
                                    td левые и правые
                                tr
                                    td Допустимый уровень качества
                                    td (AQL) 1,5
                                tr
                                    td Срок годности
                                    td 5 лет


            .col-12.col-md-6
                .modal-content__descriptions
                    .modal-content__descriptions__title Описание
                    .modal-content__descriptions__content
                        p
                            | Перчатки одноразовые диагностические латексные медицинские неопудренные гладкие, неанатомической формы (прямые пальцы), с манжетой и валиком - Prolatex.
                            | Состав - изготовлены из натурального латекса.
                            | Форма перчатки – гладкая, неанатомическая, без разделения на правую и левую руку.
                            | Обладают высоким сопротивлением на разрыв.
                            | Устойчивы к кислотам.

            .col-12.col-md-6
                button-buy-product(:product-id="10")




