extends ../layout/main
block title
    title Условия доставик
block content
    main.main.base-page
        .big-container
            .decor-line
        .container.mb-30
            nav.breadcrumbs
                ul.breadcrumbs__items
                    li.breadcrumbs__item
                        a(href='/') Главная
                    li.breadcrumbs__item.active Условия доставик

        .delivery-page
            .container(style="background-image: url(assets/img/delivery/main-fon.png)").mb-30
                .row
                    .col-12.col-md-8.offset-md-4.mb-60
                        h1.delivery-page__title Условия доставик
                        p.mb-15 <b>График работы отдела доставки:</b> понедельник – пятница  с 9:00 до 21:00
                        p.mb-15 Доставка мебели осуществляется в удобные для заказчика день и время, после предварительной договоренности. Как правило – мебель доставляется в течение одного – трех рабочих дней со дня поступления денежных средств на расчетный счет нашей Компании.
                        p.mb-15 <b>Доставку мебели осуществляем как по Москве и Московской области, так и по всей России.</b>
                            | В случае, если клиент находится в одном из Российских населенных пунктов, доставку своей продукции мы осуществляем до транспортной компании в Москве, имеющей свой филиал в нужном регионе, а далее транспортная компания доставляет мебель до необходимого города либо до подъезда клиента. В этом случае, с нами клиент расплачивается только за доставку по Москве (причем, она может быть и бесплатной), а с транспортной компанией расплачивается отдельно, при получении груза.
                        p.mb-15 В Компании Альфа-мебель для Вас предусмотрено последовательное предоставление таких основных услуг, как доставка, разгрузка и сборка мебели. Т.е. сразу после доставки квалифицированными сотрудниками нашей Компании осуществляется разгрузка и сборка (в случае заказа данных дополнительных услуг). Только при такой последовательной реализации услуг – экономится время заказчика и минимизируются риски порчи и утери отдельных элементов мебели. При этом право собственности на мебель переходит от продавца к покупателю, когда мебель собрана и расставлена в Вашем офисе. В связи с чем, рекомендуем пользоваться полным комплексом сопутствующих услуг нашей Компании - приобретая офисную мебель «под ключ».
                            | В случае, когда клиент принимает мебель, доставленную до подъезда или сам вывозит ее со склада продавца, право собственности на мебель переходит от продавца к покупателю в момент приемки мебели в разобранном виде и подписания отгрузочных документов. В этом случае, что бы минимизировать риски наличия брака и механических повреждений, необходимо произвести осмотр всей принимаемой мебели или хотя бы проверить целостность упаковок, в которых она передается покупателю, а также убедиться в том, что Вам передана вся мебель, за которую Вы расписываетесь в товарной накладной.
                        p.mb-15 <b>Обращаем Ваше внимание:</b>
                            | 1. Мебель доставленная покупателю в строгом соответствии со спецификацией, может быть возвращена только в товарном виде, заводской упаковке и за счет покупателя.
                            | 2. После подписания покупателем отгрузочных документов, претензии по комплектности и внешнему виду мебели, в т.ч. механическим повреждениям мебели - не принимаются.
                            | 3. Мебель подвергавшаяся сборке или произведенная на заказ, возврату и обмену не подлежит.







